 @model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/AuthenticationLayout.cshtml";
}

<h1>ForgetPassword</h1>

<form asp-action="ForgetPassword" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input class="text email" asp-for="Email" placeholder="Email" required="" />
    <span asp-validation-for="Email"></span>
    <input type="submit" value="ResetPassword" />
</form>